@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
:root {
  font-size: 0.625rem;
  font-family: 'Raleway', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--sc);
}